<div id="<%= dom_id teacher_certification %>">
  <p>
    <strong>Certifier:</strong>
    <%= teacher_certification.certifier %>
  </p>

  <p>
    <strong>Date obtained:</strong>
    <%= teacher_certification.date_obtained.strftime("%Y-%m-%d") %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= teacher_certification.subject.name %>
  </p>

  <p>
    <strong>Recipient/Teacher:</strong>
    <%= teacher_certification.teacher.full_name %>
  </p>

</div>
