<div id="<%= dom_id teacher_certification %>">
  <p>
    <strong>Certifier:</strong>
    <%= teacher_certification.certifier %>
  </p>

  <p>
    <strong>Date obtained:</strong>
    <%= teacher_certification.date_obtained %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= teacher_certification.subject_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= teacher_certification.teacher_id %>
  </p>

</div>
