<div id="<%= dom_id course_session %>">
  <p>
    <strong>Course:</strong>
    <%= course_session.course_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course_session.room_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course_session.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= course_session.duration %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= course_session.day_of_week %>
  </p>

</div>
