<div id="<%= dom_id teacher %>">
  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= teacher.age %>
  </p>

  <p>
    <strong>Main subject:</strong>
    <%= teacher.main_subject_id %>
  </p>

</div>
