<div id="<%= dom_id teacher %>">
  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= teacher.age %>
  </p>

  <p>
    <strong>Main subject:</strong>
    <%= link_to teacher.main_subject.name, subject_path(teacher.main_subject_id) %>
  </p>

  <p>
    <%= link_to "Certifications", teacher_certifications_path(teacher_id: teacher.id) %>
  </p>

</div>
