<div id="<%= dom_id room %>">
  <p>
    <strong>Code:</strong>
    <%= room.code %>
  </p>

  <p>
    <strong>Floor level:</strong>
    <%= room.floor_level %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= link_to room.building.name, building_path(room.building_id) %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= room.directions %>
  </p>

</div>
