<div id="<%= dom_id course %>">
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>School year:</strong>
    <%= course.school_year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Required equipment:</strong>
    <%= course.required_equipment %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course.teacher_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject_id %>
  </p>

</div>
