<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<h1>
  <% if params[:student_id] %>
  <%= "#{Student.find(params[:student_id]).full_name}'s " if params[:student_id] %>
  <% elsif params[:course_id] %>
  <%= "#{Course.find(params[:course_id]).name}'s Prerequisite " if params[:course_id] %>
  <% end %>
Courses</h1>

<%= render "shared/course_list" %>

<%= link_to "New course", new_course_path %>
